body {
    font-family: Arial;
}

.banner {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
}

.banner img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-title {
    font-size: 80px;
    font-weight: normal;
    color: #000000;
    margin-bottom: -20px;
}

.banner-slogan {
    font-size: 18px;
    color: #333;
    margin-top: 0px;
}

.nav-pills {
    margin-top: 20px;
}


.content {
    border: none;
    padding: 20px;
    margin-top: -2px;
    background-color: white;
    display: none;
}


.content.active {
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 75%;
    max-width: 1500px !important;
    height: 620px;
    background-color: white;
    padding: 15px 10px 20px;
    border-radius: 10px;
    border: 5px solid #80c0ac;
    margin: 20px auto;
    box-sizing: border-box;
}

/* .BookDetail {
    width: 500px;
    height: 620px;
    background-color: white;
    padding: 15px 10px 20px;
    border-radius: 10px;
    border: 5px solid #80c0ac;
    margin: 20px auto;
} */

.BookDetail {
    width: 75%;
    max-width: 500px !important;
    height: 620px;
    background-color: white;
    padding: 15px 10px 20px;
    border-radius: 10px;
    border: 5px solid #80c0ac;
    margin: 20px auto;
    box-sizing: border-box;
}

.form-container input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.form-container button {
    padding: 10px;
    background-color: #80c0ac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.form-container button:hover {
    background-color: #61b756;
}

.error-message {
    background-color: rgb(208, 79, 75);
    color: white;
    padding: 4px;
    border: rgb(208, 79, 75);
    border-radius: 3px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.error-message.show {
    opacity: 1;
}


.success-message {
    background-color: rgb(29, 206, 13);
    color: white;
    padding: 4px;
    border: rgb(29, 206, 13);
    border-radius: 3px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.success-message.show {
    opacity: 1;
}




.book-header {
    background-color: #ededed;
    text-align: center;
    padding: 20px 20px 10px;
    border-radius: 6px;
    height: 160px;
}

.info-icon {
    font-size: 40px;
    color: #555;
    margin-top: 15px;
}

.book-header .card-text,
.book-header .card-title {
    margin: 4px 0;
}

.book-info {
    margin-top: 10px;
}